
<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @property.text %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<%= link_to 'Properties', properties_path %>